<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>

<body>

    <h1>Edit: <%= campground.title %></h1>

    <form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="POST">
        <div>
            <label for="title">Campground name: </label>
            <input 
                type="text" 
                name="campground[title]" 
                id="title" 
                placeholder="Campground name"
                value="<%= campground.title %>">
        </div>

        <div>
            <label for="location">Location: </label>
            <input 
                type="text" 
                name="campground[location]" 
                id="location" 
                placeholder="City, State"
                value="<%= campground.location %>">
        </div>

        <button>Save changes</button>
    </form>

</body>

</html>